body {
  font-family: Arial, sans-serif;
  text-align: center;
}
.scoreboard {
  display: inline-block;
  border: 2px solid #333;
  padding: 20px;
  margin: 20px;
  vertical-align:middle;
  border-radius: 15px;
}
.team-name {
  margin-bottom: 10px;
}
.points {
  font-size: 24px;
  margin-bottom: 20px;
}
.timer {
  font-size: 36px;
  margin-bottom: 20px;
  vertical-align:middle;
}

.center {
  margin-left: auto;
  margin-right: auto;
}